<br><br><br>
<div class="row">
    <div class="col-sm-6">
        <img src="../../assets/user/sunil.png" height="400px;" width="auto" />
    </div>
    <div class="col-sm-6">
        <p>ABOUT ME</p>
        <h4>FULL STACK WEB-DEVELOPER</h4>
        <p>I have completed my Graduation in Computer Science
            Now i am persuing Master in Computer Science
            I am well Familier with Technology such
            Core Java, Advanced Java, Spring,Expressjs,PHP,Angular  
        </p>
        <a href="../../assets/resume/Sunil-Bombe-New-Resume.pdf" target="_blank"><button class="btn btn-primary">DOWNLOAD CV</button></a>
    </div>
</div>