<br><br><br>
<div role="main" class="container">
    <div class="container-float">
        <div class="row">
            <div class="col-sm-6">
                <h3>HEY THERE !</h3>
                <h1>I AM SUNIL BOMBE</h1>
                <h4>Programmer & Web-Designer</h4>
                <!-- socila media -->
                <div class="mb-5 flex-center">
                    <!-- Facebook -->
            <a href="https://www.facebook.com/sunil.bombe.75" target="_blank" class="fb-ic">
                <img  src="../../../assets/icons/facebook.png" class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" />
              </a>
              <!-- Twitter -->
              <a href="https://twitter.com/bombe_sunil?s=09"  target="_blank" class="tw-ic">
                <img src="../../../assets/icons/twitter.png"  class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x" />
              </a>
              <!-- Google +-->
              <a href="mailto:sunilbombe456@gmail.com" target="_blank" class="gplus-ic">
                <img src="../../../assets/icons/google.png"  class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x" />
              </a>
              <!--Linkedin -->
              <a href="https://www.linkedin.com/in/sunil-bombe-370266176" target="_blank" class="li-ic">
                <img src="../../../assets/icons/linkedin.png"  class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x" />
              </a>
              <!--Instagram-->
              <a href="https://www.instagram.com/sunil_bombe_1998" target="_blank" class="ins-ic">
                <img src="../../../assets/icons/instagram.png"  class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" />
                
              </a>
              <!--Pinterest-->
              <a href="https://in.pinterest.com/sunilbombe456/" target="_blank" class="pin-ic">
                <img  src="../../../assets/icons/pinterest.png" class="fab fa-pinterest fa-lg white-text fa-2x" />
              </a>
                                    
                  </div>
                <!-- social media -->
                <button class="btn btn-primary">SEE MY WORK</button>
            </div>
            <div class="col-sm-6">
                <img src="../../assets/user/sunil.png"  height="500px" width="auto"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 modal-content">
                <p>0+ k</p>
                <h4>Happy Customer</h4>
            </div>
            <div class="col-sm-3 modal-content">
                <p>0+ k </p>
                <h4>Ticket Solved</h4>
            </div>
            <div class="col-sm-3 modal-content">
                <p>0+ k</p>
                <h4>Average Rating</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <img src="../../assets/user/sunil.png" height="400px;" width="auto" />
            </div>
            <div class="col-sm-6">
                <p>ABOUT ME</p>
                <h4>FULL STACK WEB-DEVELOPER</h4>
                <p>I have completed my Graduation in Computer Science
                    Now i am persuing Master in Computer Science
                    I am well Familier with Technology such
                    Core Java, Advanced Java, Spring,Expressjs,PHP,Angular  
                </p>
                <a href="../../assets/resume/Sunil-Bombe-New-Resume.pdf" target="_blank"><button class="btn btn-primary">DOWNLOAD CV</button></a>
            </div>
        </div>
        <!-- servise -->
        <div class="row">
            <div class="col-sm-12">
                    <p>OUR SERVICES</p>
                    <h4>WHAT SERVICES WE</h4>
                    <h4> OFFER FOR YOU</h4>
                    <div class="row">
                        <div class="col-sm-3 modal-content">
                            <h6>DATA ANALYSIS</h6>
                        </div>
                        <div class="col-sm-3 modal-content">
                            <h6>FULL STACK PROJECT DEVELOPMENT</h6>
                        </div>
                        <div class="col-sm-3 modal-content">
                            <h6>NEW TRENDING TECHNOLOGY </h6>
                        </div>
                    </div>
            </div>
        </div>

        <!-- recent work -->
        <br><br>
        <div class="row">
            <div class="col-sm-12">
                    <p>OUR PORTFOLIO</p>
                    <h4>CHECK OUT OUR RECENT</h4>
                    <h4>CLIENT WORK</h4>
                    <div class="row">
                        
                        <div class="row">
                            <div class="col-lg-4">
                              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                              <h2>DPU LEARNING</h2>
                              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4">
                              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                              <h2>ONLINE FOOD DELIVERY</h2>
                              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4">
                              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                              <h2>PORTFOLIO</h2>
                              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                            </div><!-- /.col-lg-4 -->
                          </div><!-- /.row -->
                        
                    </div>
            </div>
              
        </div>
         <!-- corosol start -->
         <div class ="row">
            
         </div>
         <!-- modal end -->
        
    </div>
</div>
<br>
<br>